html,
body {
  height: 100%;
  font-family: NanumSqure;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.wrap {
  padding: 10px;
}

p {
  font-size: 16px;
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  font-style: normal;
  src: url("/public/fonts/NanumSquareB.ttf") format("ttf");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  font-style: normal;
  src: url("/public/fonts/NanumSquareEB.ttf") format("ttf");
}
