@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-accent: #2614c7;
  --color-primary: #000;
  --color-button: #3d486c;
  --color-paragraph: #797979;
  --color-button-text: rgb(255, 255, 255);
  --color-background: #fff;
  --color-anchor: #000aff;
  --color-span: rgb(255, 255, 255);
  --color-p: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 300; /* Light */
  font-style: normal;
  src: url('/fonts/GmarketSansTTFLight.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'GmarketSans', sans-serif; /* 폰트 패밀리 적용 */
  transition: background 0.3s ease;
}

button {
  color: var(--color-primary);
}

* {
  font-family: 'GmarketSans', sans-serif; /* 폰트 패밀리 적용 */
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 300;
}
[data-theme='dark'] p {
  color: rgb(255, 255, 255) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-theme='dark'] .ql-editor.ql-blank[data-placeholder]:before {
  color: gray;
}

[data-theme='dark'] .ql-formats * {
  stroke: white !important;
}

[data-theme='light'] .ql-editor.ql-blank[data-placeholder]:before {
  color: black;
}

.wrap {
  padding: 10px;
}

div {
  word-break: break-all;
}
