.mo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  object-fit: cover;
  height: 100vh;
  width: 100vh;
}
.pc {
  position: absolute;
  top: 71px;
  left: 0;
  z-index: 5;
  -o-object-fit: cover;
  object-fit: cover;
  height: 80%;
  width: 100%;
}
