/* pc는 옆 사이드 메뉴 , 모바일은 위에 메뉴 추가로하자 */
@media (min-width: 1080px) {
  .wrap {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .left {
    flex: 3;
  }
  .center {
    flex: 8;
  }
  .right {
    flex: 3;
  }
  .project_wrap {
    width: 80%;
  }
}
@media (max-width: 1080px) {
  .wrap {
    display: flex;
    padding-top: 10px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .left {
    display: none;
  }
}
.title {
  font-weight: bold;
  font-size: 3rem;
}
.sub_title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}
.pin_point {
  margin-left: -10px;
  font-size: 90px;
  line-height: 0px;
  color: hotpink;
}
.about_me {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 500;
}
.weather {
  color: green;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px;
}
.total_wrap {
  padding-top: 25px;
  padding-bottom: 25px;
}

.center {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}
