.visit_wrap {
  position: fixed;
  bottom: 10px;
}

@media (max-width: 1080px) {
  .visit_wrap {
    color: green;
    font-weight: bold;
    right: 0px;
  }

  .bottom {
    height: 180px;
    transition: height 0.5s ease;
  }
}
