.visit_wrap {
  position: fixed;
  bottom: 10px;
}

@media (max-width: 1080px) {
  .visit_wrap {
    color: var(--color-success);
    font-weight: bold;
    right: 0px;
  }

  .bottom {
    height: 180px;
    transition: height 0.5s ease;
  }
}

/* 다크모드 스타일 */
[data-theme='dark'] .visit_wrap {
  color: var(--color-success);
}
